<div class="container" id="projects">
    <h1>{{'projects.h1'|translate}}</h1>
    <div class="project-box">
        <div class="btn-responsive">
            <a><button class="btn-disabled">GitHub</button></a>
            <a><button class="btn-disabled">{{'projects.btn'|translate}}</button></a>
        </div>
        <div class="box-img">
            <img src="../../../assets/img/projects/comingSoon.png">
            <div class="hover-active"></div>
        </div>
        <div class="box-info">
            <h2>DABubble</h2>
            <p> Angular | TypeScript | HTML | CSS | Firebase </p>
            <p>{{'projects.p1'|translate}} </p>
            <div class="btn-desktop">
                <a><button class="btn-disabled">GitHub</button></a>
                <a><button class="btn-disabled">{{'projects.btn'|translate}}</button></a>
            </div>
        </div>

    </div>
    <div class="project-box reverse">
        <div class="btn-responsive btn-style">
            <a href="https://github.com/HTK-MM/join-project" target="_blank"><button>GitHub</button></a>
            <a href="http://join.monica-morales.com" target="_blank"><button>{{'projects.btn'|translate}}</button></a>
        </div>
        <div class="box-img">
            <img src="../../../assets/img/projects/join3.png">
            <div class="hover-active"></div>
        </div>

        <div class="box-info content-end">
            <h2>Join</h2>
            <p> JavaScript | Scrum | HTML | CSS | Firebase </p>
            <p style="text-align: end;">{{'projects.p2'|translate}} </p>
            <div class="btn-desktop btn-style">
                <a href="https://github.com/HTK-MM/join-project" target="_blank"><button>GitHub</button></a>
                <a href="http://join.monica-morales.com"
                    target="_blank"><button>{{'projects.btn'|translate}}</button></a>
            </div>
        </div>

    </div>
    <div class="project-box">
        <div class="btn-responsive btn-style">
            <a href="https://github.com/HTK-MM/zombieIsland" target="_blank"><button>GitHub</button></a>
            <a href="http://zombieisland.monica-morales.com"
                target="_blank"><button>{{'projects.btn'|translate}}</button></a>
        </div>
        <div class="box-img">
            <img src="../../../assets/img/projects/zombie.png">
            <div class="hover-active"></div>
        </div>
        <div class="box-info">
            <h2>Zombie Island</h2>
            <p>
                JavaScript | HTML | CSS
            </p>
            <p>{{'projects.p3' | translate}}</p>
            <div class="btn-desktop btn-style">
                <a href="https://github.com/HTK-MM/zombieIsland" target="_blank"><button>GitHub</button></a>
                <a href="http://zombieisland.monica-morales.com"
                    target="_blank"><button>{{'projects.btn'|translate}}</button></a>
            </div>
        </div>

    </div>
</div>