<div class="container">
    <div>
        <img src="../../assets/img/about/bild5.png">
    </div>
    <div>
        <div>
            <h1>{{'about.h1'| translate}}</h1>
            <p>{{'about.p'| translate}}</p>
        </div>
        <div>
            <div>
                <h2>{{'about.h2'| translate}}</h2>
                <div>
                    <div class="icons-local">
                        <img src="../../../assets/img/about/located.png">
                        <img src="../../../assets/img/about/Ellipse.png">
                    </div>

                    <p>{{'about.p2'| translate}}<br class="responsive-br">{{'about.p3'| translate}}</p>

                </div>
            </div>
            <div>
                <img src="../../../assets/img/about/Arrow 5.png">
                <img src="../../../assets/img/about/Arrow 01.png">
            </div>

            <div>
                <div class="icons-laptop">
                    <img src="../../../assets/img/about/laptop.png" alt="">
                    <img src="../../../assets/img/about/WiFi-1.png" alt="">
                    <img src="../../../assets/img/about/WiFi.png">
                </div>
                <p>{{'about.p4'| translate}}<br class="responsive-br">{{'about.p5'| translate}}</p>
            </div>



            <a href="#contact">{{'about.a'| translate}}</a>



        </div>

    </div>