<div class="container">
    <h1>{{'skills.h1'|translate}}</h1>
    <div>
        <img src="../../../assets/img/skills/angular.svg" alt="angular icon">
        <img src="../../../assets/img/skills/typeScript.svg" alt="typeScript icon">
        <img src="../../../assets/img/skills/javaScript.svg" alt="javaScript icon">
        <img src="../../../assets/img/skills/html.svg" alt="HTML icon">
        <img src="../../../assets/img/skills/css.svg" alt="CSS icon">
        <img src="../../../assets/img/skills/restApi.svg" alt="Rest-Api icon">
        <img src="../../../assets/img/skills/firebase.svg" alt="Firebase icon">
        <img src="../../../assets/img/skills/git.svg" alt="Git icon">
        <img src="../../../assets/img/skills/scrum.svg" alt="Scrum icon">
        <img src="../../../assets/img/skills/material.svg" alt="Material design icon">
        <div class="challenge">
            <span><img src="../../../assets/img/skills/challenge.svg" alt="challenge me"> Challenge me
            </span>
            <p>{{'skills.p1'|translate}}</p>
            <div class="arrow">
                <img  src="../../../assets/img/skills/Arrow 6.png">               
            </div>           
        </div>
        <div class="text">{{'skills.p1'|translate}}</div>
    </div>


</div>