<div class="container">
    <h1>{{'skills.h1'|translate}}</h1>
    <div>
        <img src="../../../assets/img/skills/angular.png" alt="angular icon">
        <img src="../../../assets/img/skills/typeScript.png" alt="typeScript icon">
        <img src="../../../assets/img/skills/javaScript.png" alt="javaScript icon">
        <img src="../../../assets/img/skills/html.png" alt="HTML icon">
        <img src="../../../assets/img/skills/css.png" alt="CSS icon">
        <img src="../../../assets/img/skills/restApi.png" alt="Rest-Api icon">
        <img src="../../../assets/img/skills/firebase.png" alt="Firebase icon">
        <img src="../../../assets/img/skills/git.png" alt="Git icon">
        <img src="../../../assets/img/skills/scrum.png" alt="Scrum icon">
        <img src="../../../assets/img/skills/material.png" alt="Material design icon">
        <div class="challenge">
            <span><img src="../../../assets/img/skills/challenge.png" alt="challenge me"> Challenge me
            </span>
            <p>{{'skills.p1'|translate}}</p>
            <div class="arrow">
                <img  src="../../../assets/img/skills/Arrow 6.png">               
            </div>           
        </div>
        <div class="text">{{'skills.p1'|translate}}</div>
    </div>


</div>