<div class="container" id="titlePrivacy">
    <div class="title-policy">
        <h1>{{'privacy-policy.h1'|translate}}</h1>
        <a class="btns-start" href="../index.html">
            {{'privacy-policy.a'|translate}}
        </a>
    </div>


    <h2>{{'privacy-policy.h2-1'|translate}}</h2>
    <h3>{{'privacy-policy.h3-1'|translate}}</h3>
    <p>{{'privacy-policy.p1'|translate}}</p>
    <h3>{{'privacy-policy.h3-2'|translate}}</h3>
    <h4>
        {{'privacy-policy.h4-1'|translate}}
    </h4>
    <p> {{'privacy-policy.p2'|translate}}</p>
    <h4>{{'privacy-policy.h4-2'|translate}}</h4>
    <p>{{'privacy-policy.p3'|translate}}
    </p>
    <p>
        {{'privacy-policy.p4'|translate}}
    </p>
    <h4>{{'privacy-policy.h4-3'|translate}}</h4>
    <p>{{'privacy-policy.p5'|translate}}</p>
    <h4> {{'privacy-policy.h4-4'|translate}}</h4>
    <p>{{'privacy-policy.p6'|translate}}</p>

    <p>{{'privacy-policy.p7'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-3'|translate}}</h3>
    <p>{{'privacy-policy.p8'|translate}}

    </p>
    <p>{{'privacy-policy.p9'|translate}}

    </p>
    <h2> {{'privacy-policy.h2-2'|translate}}</h2>
    <h3> {{'privacy-policy.h3-4'|translate}}</h3>
    <p>{{'privacy-policy.p10'|translate}}

    </p>
    <p>{{'privacy-policy.p11'|translate}}

    </p>
    <p>{{'privacy-policy.p12'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-5'|translate}}</h3>
    <p>{{'privacy-policy.p13'|translate}}

    </p>
    <p>
        Mónica Morales<br />
        Uhlbacherstr. 35/1<br />
        73733 Esslingen<br />
    </p>

    <p>
        Telefon: +49 (0) 711 849 49<br />
        E-Mail: info&commat;monica-morales.com
    </p>
    <p>{{'privacy-policy.p14'|translate}}

    </p>

    <h3> {{'privacy-policy.h3-6'|translate}}</h3>
    <p>{{'privacy-policy.p15'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-7'|translate}}

    </h3>
    <p>{{'privacy-policy.p16'|translate}}
    </p>
    <h3> {{'privacy-policy.h3-8'|translate}}</h3>
    <p>{{'privacy-policy.p17'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-9'|translate}}</h3>
    <p>{{'privacy-policy.p18'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-10'|translate}}

    </h3>
    <p>{{'privacy-policy.p19 '|translate}}

    </p>
    <p>{{'privacy-policy.p20'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-11'|translate}}

    </h3>
    <p>{{'privacy-policy.p21'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-12'|translate}}</h3>
    <p>{{'privacy-policy.p22'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-13'|translate}}</h3>
    <p>{{'privacy-policy.p23'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-14'|translate}}</h3>
    <p>{{'privacy-policy.p24'|translate}}

    </p>
    <ul>
        <li>{{'privacy-policy.li1'|translate}}

        </li>
        <li>{{'privacy-policy.li2'|translate}}

        </li>
        <li>{{'privacy-policy.li3'|translate}}

        </li>
        <li>{{'privacy-policy.li4'|translate}}

        </li>
    </ul>
    <p>{{'privacy-policy.p25'|translate}}

    </p>
    <h3> {{'privacy-policy.h3-15'|translate}}</h3>
    <p>{{'privacy-policy.p26'|translate}}

    </p>
    <h2> {{'privacy-policy.h2-3'|translate}}</h2>
    <h3> Cookies</h3>
    <p>{{'privacy-policy.p27'|translate}}

    </p>
    <p>{{'privacy-policy.p28'|translate}}

    </p>
    <p>{{'privacy-policy.p29'|translate}}

    </p>
    <p>{{'privacy-policy.p30'|translate}}

    </p>
    <p>{{'privacy-policy.p31'|translate}}

    </p>
    <p>{{'privacy-policy.p32'|translate}}

    </p>
    <p>
        Quelle: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>

    <a class="a-arrow" [routerLink]="[]" fragment="titlePrivacy"><img src="../../assets/img/contact/Arrow_up.png"></a>
</div>