<div class="container" id="title">
    <div class="title-legal">
        <h1>{{'legal-notice.h1'| translate}}</h1>
        <a class="btns-start" [routerLink]="['/']">
            {{'legal-notice.a'| translate}}
        </a>
    </div>


    <h2>Mónica Morales</h2>
    <h3>Uhlbacher Str. 35/1</h3>
    <h3>73733 Esslingen</h3>
    <br>

    <h3>Tel: 0711-8497272</h3>  
    <br>

    <a href="mailto:info@monica-morales.com">info&commat;monica-morales.com</a><br>
    <a href="http://www.monica-morales.com">http://www.monica-morales.com</a><br><br>


    <h4>{{'legal-notice.h4'| translate}}</h4>

    <br><br>
    <h3><b>{{'legal-notice.h3'| translate}}</b><br></h3>
    <p>
        {{'legal-notice.p'| translate}}
    </p>
</div>