<footer class="footer">
    <div>
        <div>
            <img src="./../assets/img/Logo2-2.png">
            <p>{{'footer.p'|translate}}</p>
        </div>

        <div>
            <img src="./../assets/img/Logo2-2.png">
            <h6>© Mónica Morales 2024</h6>
            <div>
                <a (click)="sendLink('legalnotice')">{{'footer.a1'|translate}}</a>
                <a (click)="sendLink('privacypolicy')">{{'footer.a2'|translate}}</a>
            </div>
        </div>

        <div>
            <a href="https://github.com/HTK-MM" target="_blank"><img class="logo" src="./../assets/img/github.png"></a>
            <a href="mailto:info@monica-morales.com" target="_blank"><img class="logo" src="./../assets/img/email.png"></a>
            <!-- img class="logo" src="./../assets/img/linkedin.png"> -->
        </div>

    </div>

</footer>